.nav{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 60px;
    left: 25%;
    z-index: 2;
    margin-top: 15px;
    
    /* blur effect */
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 4px 32px 0 rgba(0,0,0,0.37);
}

.atrib{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.atribMoon{
    width: 24px;
    height: 24px;
}
.atribModeDiv{
    display: flex;
    align-items: center;
}
.atrib:hover{
    color: gray;
}
.atribMoon:hover{
    transform: scale(1.2);    
} 

/* /////////////////////////////////////// */

@media (width <= 700px){
    .nav{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        left: 5%;

        padding-top: 10px;
        padding-bottom: 10px;
        gap: 0;
        
    }
    .atrib{
        font-size: 14px;
    }
    .atribMoon{
        width: 19px;
        height: 19px;
    }
}

:global(#dark) .atrib{
    color: white;
}