.contactSection{
    height: 85dvh;
    font-family: "Poppins", sans-serif;
    margin: 0 237.5px;
    padding: 32px 16px;
    padding-top: 80px;
}
.bannerContact{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-style: normal;
    height: 50px;
    padding-bottom: 10px;
    
}
.imgContact{
    width: 50px;
    height: 50px;
    padding-right: 6px;
    padding-top: 2px;
}
.contactText{
    font: 42px "Poppins";
    margin: 0;
    font-weight: 800;
}

.getTouchText, .contactMeText{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: rgba(63, 63, 63, 0.815);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}
.contactMeText{
    margin-top: 1px;
    font-size: 50px;
    margin-bottom: 10px;
}
/* email copy */
.emailContainer{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}
.mailExterior{
    display: flex;
    align-items: center;    
} 
.emailText{
    font: 18px "Poppins";
    display: flex;
    align-items: center;
    
} 
.mailMail{
    display: flex;
    justify-content: center;
}
.buttonCopyMail{
    height: 50px;
    width: 50px;
    border: none;
    background-color: white;
} 
.buttonCopyMail:hover{
    transform: translate(1px, 1px);
    cursor: pointer;
}

.mailContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.emailFieldNotButton{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.emailFieldText, .emailFieldEmail, .emailFieldMessage{
    height: 40px;
    padding-left: 16px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid #888;
    box-sizing: border-box;
    justify-self: center;
}
.emailFieldMessage{
    padding-top: 16px;
    resize: none;
    height: 180px;
}
.emailFieldEmail, .emailFieldMessage, .emailFieldText::placeholder{
    font-size: 14px;
}
.emailSubmitButton{
    background-color: #007bffd2;
    color: white ;
    border: none;
    border-radius: 20px;
    width: 126px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
} 
.emailSubmitButton:hover{
    cursor: pointer;
    background-color: #adbed1;
    border: 1px solid #adbed1;
    transform: scale(1.05);
    transform: translateY(2px);
} 

/* ///////////////////////////////////////////////// */

@media (width <= 600px){
    .contactSection{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100dvh;
        margin-top: 50px;
        padding-top: 65px;
    }.bannerContact{
        display: flex;
        justify-content: center;
    }
    .emailSubmitButton{
        margin-top: 10px;
    }
}