@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.body{
    margin-bottom: 1000px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    width: 60%;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    left: 20%;
    
    
    
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    
    
}

.atrib{
    text-decoration: none;
    color: black;
}
.atrib:hover{
    color: gray;
}

.texto{
    margin-top: 30px;
    padding-top: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    }