@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 
.section-hero{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 100dvh;

}
.nav{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    width: 60%;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 70px;
    left: 20%;
    
    /* blur effect */
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}
.atrib{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.atrib:hover{
    color: gray;
}
    
    

/* Hero section */
.profile-photo{
    margin-top: 100px;
    border-radius: 25em;
    size: 30px;
    height: 300px;
    width: 300px;
    
}
.texto-rigth{
    margin-top: 10px;
}
.hero-text{
    font-size: 20px;
    margin-top: 100px;
    
    align-content: center;
    align-items: center;
    font-family: "Poppins";
    
}
.hello{
    margin: 5px;
    padding-left: 60px;
    color: rgba(63, 63, 63, 0.815);
    font-size: 25px;
}
.Yosbel{
    padding-left: 35px;
    
}
.frontend{
    padding-left: 5px;
    margin-top: 5px;
    font-size: 25px;
    color: rgba(63, 63, 63, 0.815);
    font-weight: 600;
}
h1{
    font-size: 50px;
    margin: 2px;
}

.boton-cv{
    border-radius: 40px;
    border: 0.1px solid gray;
    background-color: white;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: 800;
}
.boton-cv:hover{
    background-color: black;
    color: white;
}
.boton-contact{
    border-radius: 40px;
    border: 0.1px solid rgb(0, 0, 0);
    color: white;
    background-color: black;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 800;
    margin-left: 10px;
}
.boton-contact:hover{
    background-color: white;
    color: black;
    border: 0.1px solid gray;
}
.social-media{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.github, .linkedin{
    height: 45px;
}
    

/* Proyects page */
.proyects-section{
    height: 100dvh;
    font-family: "Poppins", sans-serif;
    margin: 0 227.5px;
    padding: 32px 16px;
}
.banner-proyects{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-style: normal;
    height: 50px;
}
.img-logop{
    width: 36px;
    height: 40px;
    padding-right: 6px;
    padding-top: 12px;
}
.proyect-text{
    font: 42px "Poppins";
    margin: 0;
    font-weight: 800;
}

.proyect-calculator{
    padding-top: 4vh;
    height: 96vh;
    
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.proyect-image{
    width: 412px;
    height: 250px;
    border-radius: 20px;
}
.proyect-description{
    font-size: 26px;
    margin-top: 16px;
    color: #343A40;
    margin-bottom: 0;
    margin-top: 3px;
}
.proyect-short-info{
    font-size: 14px;
    color: #343A40;
}
.buttons-proyect{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.button-github-code, .button-proyect-info{
    border-radius: 40px;
    border: 0.1px solid gray;
    background-color: white;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 800;
    
}