.container{
    height: 5dvh;
    margin: 0 237.5px;
    font-family: "Figtree";
    color: #6b7280;
    font-size: 17px;
}

/* ///////////////////////////////// */

@media (width <= 600px){
    .container{
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}


:global(#dark) .container{
    color: white;
}