.aboutSection{
    height: 75dvh;
    font-family: "Poppins", sans-serif;
    margin: 0 237.5px;
    padding: 32px 16px;
    padding-top: 80px;
}
.bannerAbout{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-style: normal;
    height: 50px;
    padding-bottom: 30px;
    
}
.imgPerson{
    width: 32px;
    height: 32px;
    padding-right: 6px;
    padding-top: 2px;
    margin-top: 11px;
}
.aboutText{
    font: 42px "Poppins";
    margin: 0;
    font-weight: 800;
}
.aboutGeneral{
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 252px;
    width: 850px;
}
.profilePictureAboutMeDiv{
    height: 330px;
    display: flex;
    align-items: center;
}
.profilePictureAboutMe{
    height: 220px;
    width: 220px;
    border-radius: 4rem;
    transform: rotate(-4deg);
    box-shadow: 9px 9px 18px 0 rgba(0,0,0,0.37);
}
.aboutMeCards{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}
.aboutMeCards h3{
    font-family: "Figtree";
}   
.cardAboutMeLeft, .cardAboutMeRight{
    border-radius: 35px;
    border: 0.1px solid gray;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.textAboutMe p{
    padding-top: 10px;
    font-family: "Figtree", "Poppins";
    font-size: 17px;
    color: #343A40;
    font-weight: 400;
    margin-left: 50px;
    margin-right: 15px;
}
.textAboutMeOne{
    margin-top: 15px;
}

/* /////////////////////////////////////////////////// */

@media (width <= 600px){
    .aboutSection{
        margin: 0;
        padding: 0;
        height: 95dvh;
        margin-bottom: 150px;
        padding-top: 65px;
    }
    .bannerAbout{
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }
    .aboutGeneral{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    .profilePictureAboutMe{
        display: flex;
        justify-content: center;
        height: 200px;
        width: 200px;
        
    } 
    .aboutMeCards{
        display: flex;
        justify-content: space-evenly;
    }   
    .cardAboutMeLeft, .cardAboutMeRight{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 2px;
        margin: 0;
    }
    .textAboutMe p{
        padding: 0;
        padding-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
    }
}

:global(#dark) .imgPerson{
    height: 38px;
    width: 40px;
    margin-top: 9px;
}
:global(#dark) .aboutSection{
    color: white;
}
:global(#dark) .textAboutMeOne{
    color: white;
}
:global(#dark) .textAboutMeTwo{
    color: white;
}